@{
    var snapshotUrl = (string)Model.SnapshotUrl;
    var jumpUrl = Url.Action("Index", "ArchivedLink", new { Area = "Lombiq.ArchivedLinks", OriginalUrl = Model.OriginalUrl });
}

<fieldset>
    <ol>
        <li>
            @T("Snapshot: {0}", Html.Link(snapshotUrl, snapshotUrl))
        </li>
        <li>
            @T("Jump Url: {0}", Html.Link(jumpUrl, jumpUrl))
        </li>
    </ol>
</fieldset>