@model Lombiq.ArchivedLinks.Models.ArchivedLinkPart

<fieldset>
    <ol>
        <li>
            @Html.LabelFor(m => m.OriginalUrl, T("Original Url:"))
            @Html.TextBoxFor(m => m.OriginalUrl, new { @class = "text large" })
        </li>
    </ol>
</fieldset>