@model Lombiq.ArchivedLinks.Models.ArchivedLinkPart

<fieldset>
    <ol>
        <li>
            @Html.LabelFor(m => m.OriginalUrl)
            @Html.EditorFor(m => m.OriginalUrl)
        </li>
    </ol>
</fieldset>