@model Lombiq.ArchivedLinks.ViewModels.SnapshotViewModel

<header>
    @T("Snapshot taken at: {0}", Model.SnapshotTaken)
</header>

<div class="lombiq-archivedlinks-snapshot-iframe-wrapper">
    <iframe src="@Model.SnapshotIndexPublicUrl"></iframe>
</div>