@model string

<fieldset>
    <ol>
        <li>
            @T("Snapshot Url:")
            <br />
            <a href="@Model" target="_blank">@Model</a>
        </li>
    </ol>
</fieldset>