@{
    var routeValues = new RouteValueDictionary();

    routeValues.Add("area", "Lombiq.ArchivedLinks");
    routeValues.Add("action", "Index");
    routeValues.Add("controller", "ArchivedLink");
    routeValues.Add("originalUrl", Model.OriginalUrl);
}

<fieldset>
    <ol>
        <li>
            @T("Original Url: {0}", Html.Link((string)Model.OriginalUrl, (string)Model.OriginalUrl))
        </li>
        <li>
            @T("Snapshot: {0}", Html.Link((string)Model.SnapshotUrl, (string)Model.SnapshotUrl))
        </li>
        <li>
            @T("Jump Url: {0}", Html.Link(Url.RouteUrl(routeValues), Url.RouteUrl(routeValues)))
        </li>
    </ol>
</fieldset>