@using (Html.BeginFormAntiForgeryPost())
{
    <fieldset>
        <ol>
            <li>
                @Html.Label("Url", T("Url"))
                @Html.TextBox("url")
            </li>
        </ol>

        <button type="submit" class="button">
            @T("Submit")
        </button>
    </fieldset>
}