@model Lombiq.ArchivedLinks.ViewModels.SnapshotViewModel

@{
    var routeValues = new RouteValueDictionary();

    routeValues.Add("area", "Lombiq.ArchivedLinks");
    routeValues.Add("action", "Index");
    routeValues.Add("controller", "ArchivedLink");
    routeValues.Add("originalUrl", Model.OriginalUrl);
}

<fieldset>
    <ol>
        <li>
            @T("Snapshot Url: {0}", Html.Link(Model.SnapshotUrl, Model.SnapshotUrl))
        </li>
        <li>
            @T("Jump Url: {0}", Html.Link(Url.RouteUrl(routeValues), Url.RouteUrl(routeValues)))
        </li>
    </ol>
</fieldset>